<header class="header container">
    <a href="{{ site.baseurl | default: '/' }}" class="header__logo">
        <img src="{{ '/assets/images/logo.svg' | relative_url }}"  alt="logo">
        <div class="header__logo__text text-color-accent">
            <span>Кондитерская фабрика «АНТ»</span> 
            <span>Производство с 1994 года.</span>
        </div>
        {% include svgInline/logo-plate-header.html %}
    </a>
    <nav class="header__nav"><ul>
        <li><a href="{% if page.url != '/' and page.url != 'index.html' and page.url != '/index.html' %}{{ site.baseurl | default: '/index.html' }}{% endif %}#about">О компании</a></li>
        <li><a href="{% if page.url != '/' and page.url != 'index.html' and page.url != '/index.html' %}{{ site.baseurl | default: '/index.html' }}{% endif %}#production">Производство</a></li>
        <li><a href="{% if page.url != '/' and page.url != 'index.html' and page.url != '/index.html' %}{{ site.baseurl | default: '/index.html' }}{% endif %}#products">Продукция</a></li>
        <li><a href="{% if page.url != '/' and page.url != 'index.html' and page.url != '/index.html' %}{{ site.baseurl | default: '/index.html' }}{% endif %}#sertificats">Награды</a></li>
    </ul><button class="header__nav__exit"><span></span><span></span></button></nav>
    <a href="tel:+{{ site.data.infocompany.phone }}" class="header__btn accent-btn accent-btn--big ">
        {{ site.data.infocompany.phoneText }} 
    </a>
    <button class="header__burger accent-btn accent-btn--circle">
        <span></span><span></span><span></span>
    </button>
    <div class="header__nav-back"></div>
</header>